<footer>
    <div class="footer">
        <div class="footer-div">
            <ul>
                <li>apple</li>
                <li>xiaomi</li>
                <li>vivo</li>
                <li>samsung</li>
            </ul>
        </div>
        <div class="footer-div">
            <ul>
                <li>our brand</li>
                <li>About GSMspecs</li>
                <li>GSM store</li>
            </ul>
        </div>
    </div>
    <p>
    copyright &copy;2022 <a href="https://www.github.com/sirkeygun" target="_blank"> <br>Ngumo Developers </a>
    </p>

    
</footer>
