<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/head'); -%>

<body>

    <%- include('layouts/nav'); -%>

    <main>
        <ul>
            <li><a href="/views/allreviews/apple/apple.ejs">apple</a></li>
            <li><a href="/views/allreviews/xiamo/xiamo.ejs">xiamo</a></li>
            <li><a href="./allreviews/samsung/samsung.ejs">samsung</a></li>
            <li><a href="/views/allreviews/nokia/nokia.ejs">nokia</a></li>
        </ul>
    </main>

</body>

<%- include('layouts/footer'); -%>

</html>